In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/38/b4/44efe46d5aff497b6009e4755a5e26a99fd8fe2769857dffa21fad941767/mysql_connector_python-8.4.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.4.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.4.0-cp311-cp311-win_amd64.whl (14.5 MB)
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/14.5 MB 469.7 kB/s eta 0:00:31
   ---------------------------------------- 0.1/14.5 MB 469.7 kB/s eta 0:00:31
   ---------------------------------------- 0.1/14.5 MB 469.7 kB/s eta 0:00:31
   ---------------------------------------- 0.1/14.5 MB 610.6 kB/s eta 0:00:24
   ---------------------------------------- 0.1/14.5 MB 610.6 kB/s eta 0:00:24
    --------------------------------------- 0.3/14.5 MB 853.3 kB/s eta 0:00:17
    --------------------------------------- 0.3/14.5 MB 853.3 kB/s eta 0:00:17
   - -------------------------------------- 0.4/14.5 MB 946.4 kB/s eta 0:00:15
   - -------------------------------------- 0.4/14.5 MB 946.4 kB/s eta 0:00:15
   - -------------------------------------- 0.7/14.5 MB 1.2 MB/s eta 0:00:12
   - -------------------------------------- 0.7/14.5 MB 1.2 MB/s eta 0:00:12
   -- ------------------------------------- 0.7/14.5 MB 1.2 MB/s eta 0:00:12
   -- ------------------------------------- 0.9/14.5 MB 1.4 MB/s eta 0:00:10
   -- ------------------------------------- 0.9/14.5 MB 1.4 MB/s eta 0:00:10
   --- ------------------------------------ 1.2/14.5 MB 1.6 MB/s eta 0:00:09
   --- ------------------------------------ 1.2/14.5 MB 1.6 MB/s eta 0:00:09
   ---- ----------------------------------- 1.5/14.5 MB 1.8 MB/s eta 0:00:08
   ---- ----------------------------------- 1.5/14.5 MB 1.8 MB/s eta 0:00:08
   ---- ----------------------------------- 1.8/14.5 MB 1.9 MB/s eta 0:00:07
   ---- ----------------------------------- 1.8/14.5 MB 1.9 MB/s eta 0:00:07
   ----- ---------------------------------- 2.1/14.5 MB 2.0 MB/s eta 0:00:07
   ----- ---------------------------------- 2.1/14.5 MB 2.0 MB/s eta 0:00:07
   ------ --------------------------------- 2.4/14.5 MB 2.1 MB/s eta 0:00:06
   ------ --------------------------------- 2.4/14.5 MB 2.1 MB/s eta 0:00:06
   ------ --------------------------------- 2.5/14.5 MB 2.0 MB/s eta 0:00:07
   ------- -------------------------------- 2.8/14.5 MB 2.2 MB/s eta 0:00:06
   ------- -------------------------------- 2.8/14.5 MB 2.2 MB/s eta 0:00:06
   -------- ------------------------------- 3.2/14.5 MB 2.3 MB/s eta 0:00:05
   --------- ------------------------------ 3.5/14.5 MB 2.5 MB/s eta 0:00:05
   ---------- ----------------------------- 3.9/14.5 MB 2.7 MB/s eta 0:00:04
   ---------- ----------------------------- 3.9/14.5 MB 2.7 MB/s eta 0:00:04
   ------------ --------------------------- 4.4/14.5 MB 2.8 MB/s eta 0:00:04
   ------------ --------------------------- 4.4/14.5 MB 2.8 MB/s eta 0:00:04
   ------------- -------------------------- 4.7/14.5 MB 2.8 MB/s eta 0:00:04
   ------------- -------------------------- 4.8/14.5 MB 2.9 MB/s eta 0:00:04
   -------------- ------------------------- 5.3/14.5 MB 3.0 MB/s eta 0:00:04
   -------------- ------------------------- 5.3/14.5 MB 3.0 MB/s eta 0:00:04
   ---------------- ----------------------- 5.8/14.5 MB 3.2 MB/s eta 0:00:03
   ----------------- ---------------------- 6.1/14.5 MB 3.2 MB/s eta 0:00:03
   ----------------- ---------------------- 6.5/14.5 MB 3.4 MB/s eta 0:00:03
   ------------------- -------------------- 7.0/14.5 MB 3.6 MB/s eta 0:00:03
   --------------------- ------------------ 7.6/14.5 MB 3.8 MB/s eta 0:00:02
   ---------------------- ----------------- 8.2/14.5 MB 4.0 MB/s eta 0:00:02
   ---------------------- ----------------- 8.2/14.5 MB 4.0 MB/s eta 0:00:02
   ------------------------ --------------- 8.8/14.5 MB 4.0 MB/s eta 0:00:02
   ------------------------ --------------- 8.8/14.5 MB 4.1 MB/s eta 0:00:02
   -------------------------- ------------- 9.5/14.5 MB 4.2 MB/s eta 0:00:02
   -------------------------- ------------- 9.5/14.5 MB 4.2 MB/s eta 0:00:02
   --------------------------- ------------ 10.0/14.5 MB 4.2 MB/s eta 0:00:02
   ---------------------------- ----------- 10.2/14.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------- ----------- 10.2/14.5 MB 4.3 MB/s eta 0:00:01
   ------------------------------ --------- 11.0/14.5 MB 5.5 MB/s eta 0:00:01
   ------------------------------ --------- 11.0/14.5 MB 5.5 MB/s eta 0:00:01
   -------------------------------- ------- 11.7/14.5 MB 6.2 MB/s eta 0:00:01
   -------------------------------- ------- 11.7/14.5 MB 6.2 MB/s eta 0:00:01
   ---------------------------------- ----- 12.5/14.5 MB 6.6 MB/s eta 0:00:01
   ---------------------------------- ----- 12.5/14.5 MB 6.6 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.5 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.5 MB 7.4 MB/s eta 0:00:01
   ------------------------------------- -- 13.7/14.5 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.5 MB 7.5 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.5 MB 7.5 MB/s eta 0:00:01
   ---------------------------------------- 14.5/14.5 MB 6.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')

if mydb.is_connected():
   print("Connection Established")

Connection Established

In [5]:
mycursor=mydb.cursor()

In [6]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('aaft',)
('information_schema',)
('mysql',)
('performance_schema',)
('school',)
('sys',)
('vehicle',)

In [7]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')
mycursor=mydb.cursor()
mycursor.execute("create database SODS")

In [8]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
t="CREATE TABLE Book(bookid int(4),title varchar(20),price float(5,2))"
mycursor.execute(t)

In [9]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
mycursor.execute("show tables")
for db in mycursor:
    print(db)

('book',)

In [10]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"
r1=(1,'Python2',350)
mycursor.execute(s,r1)
mydb.commit()

In [11]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)

In [12]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"
r1=(1,'SQL',550)
mycursor.execute(s,r1)
mydb.commit()

In [13]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)
(1, 'SQL', 550.0)

In [14]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"
r1=(1,'ML',450)
mycursor.execute(s,r1)
mydb.commit()

In [15]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)
(1, 'SQL', 550.0)
(1, 'ML', 450.0)

In [16]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s= "UPDATE book SET price=price+100 WHERE price=350"
mycursor.execute(s)
mydb.commit()
print(mycursor.rowcount,"Records affected")

1 Records affected

In [17]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 450.0)
(1, 'SQL', 550.0)
(1, 'ML', 450.0)

In [18]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="DELETE FROM book WHERE price=450"
mycursor.execute(s)
mydb.commit()

In [19]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'SQL', 550.0)